<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <title>Редагувати бюджетну установу</title>
</head>
<body>
<h1>Редагувати бюджетну установу</h1>

<form th:action="@{'/budgetary-institutions/edit/' + ${budgetaryInstitution.id}}" th:object="${budgetaryInstitution}" method="post">
    <input type="hidden" th:field="*{id}" />

    <label>ЄДРПОУ код:</label>
    <input type="text" th:field="*{edrpouCode}" /><br><br>

    <label>Локація:</label>
    <input type="text" th:field="*{location}" /><br><br>

    <label>Назва:</label>
    <input type="text" th:field="*{name}" /><br><br>

    <label>Казначейство:</label>
    <select id="treasuryDepartmentId" th:field="*{treasuryDepartmentName}" required>
        <option value="" disabled selected>Оберіть казначейство</option>
        <option th:each="dept : ${treasuryDepartments}"
                th:value="${dept.name}"
                th:text="${dept.name}">
        </option>
    </select><br><br>

    <button type="submit">Зберегти</button>
</form>

<br>
<a href="/budgetary-institutions">Назад до списку</a>
</body>
</html>
